<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        //ability to pass objects to client-side scripting found from gemini
        const user = <%- JSON.stringify(user) %>;
    </script>
  </head>
  <body>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <section class="chatBox">
      <section class="chat-container">
        <ul id="messages"></ul>
      </section>
      <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
      </form>
      </section>
    <script src="socket.io/socket.io.js"></script>
    <script type="application/javascript" src="main.js"></script>
  </body>
</html>