*{
    box-sizing: border-box;
}

body{
    background-color: black;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    background: black;
    color: white;
    border: 1px solid white;
    scale:100%;
    transition: scale .2s;
}

button:hover{
    scale:110%;
    cursor: pointer;
}

.choices button:nth-of-type(1){
    background: white;
    color:black;
}

container{
    color:white;
    height:500px;
    width:500px;
    border:2px solid white;
}

.choices{
    height:20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputs{
    position:relative;
    border:1px solid white;
    height: 80%;
}

.background-slider{
    position:absolute;
    z-index: -1;
    width: 100%;
    height:100%;
    background: white;
    transition:width .2s;
}

.width-transition-active{
    width:0%
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70%;
}

.button{
    height:30%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
    width:100%;
}

.form-group{
    position: relative;
    width: 60%;
}

.form-group input{
    width: 100%;
    height: 100%;
    border:none;
}

.cubeTop{
    position: absolute;
    bottom:100%;
    right:-5px;
    left:5px;
    transform: skew(-45deg, 0);
}

.cubeMid{
    position: absolute;
    right:5px;
    left:-5px;
    height:2rem;
}

.cubeRight{
    position: absolute;
    top:-11px;
    bottom: 5px;
    width: 22px;
    height:2rem;
    left: 98%;
    transform: skew(0,-45deg);
}

.loginGroup{
    color:black;
}

.login-border{
    border:2px solid black;
}

.login-text{
    color:black
}

.signupGroup{
    color:white;
}

.signup-border{
    border:2px solid white;
}

.signup-text{
    color:white;
}

.destroy{
    display: none;
}

.button button{
    height:100%;
    width:100%;
}