*{
    box-sizing:border-box;
}
body {
    margin: 0;
    height:100vh;
    padding-bottom: 3rem;
    color:white;
    background:repeating-radial-gradient(
        circle,
        #000000,
        #000000 200px,
        #ffffff22 200px,
        #ffffff22 201px
    );
    font-family: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

input:focus {
    outline: none;
}

form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.biggerBox{
    width:auto;
    min-width:700px;
}

.topBar{
    background: rgba(0, 0, 0, 0.7);
    border:2px solid white;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
    color:black;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message>span {
    font-size: .7rem;
    color: gray
}

.chatBox {
    background: rgba(0, 0, 0, 0.93);
    width:100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid white;
}

.chat-container {
    overflow: scroll;
}

.chatBox form {
    min-height: 3rem;
}

.topBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

button{
    scale:100%;
    transition: scale .1s;
}

button:hover{
    scale:105%;
}